body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:2%;
}

#grilleJeu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(4,1fr);
    width: fit-content;
}

.casesJeu{
    width: 100px;
    border-radius: 5%;
    min-height: 100px;
    text-align: center;
    border-color: black;
    border-width: 10px;
}

#pseudos{
background-color: blue;    
display : flex;
flex-direction: row ;
}

#inputPlayers {
    display: flex;
    flex-direction: row;
}

#inputNbrJoureur {
    display : flex ;
    flex-direction : column ;
}