body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:10%;
} 

#grilleJeu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(4,1fr);
    width: fit-content;
}


.casesJeu{
    margin: 20px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    padding: 25px 50px;
    background: #a6dafd;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 6px #6c9aea;
    font-family: 'Lobster Two', cursive;
    
    
    
}

.casesJeu:hover{
    box-shadow: 0 4px #6c9aea;
    top: 2px;
}

.casesJeu:active{
    box-shadow: 0 0 #6c9aea;
    top: 6px;

.btnJeu{
    width: 100px;
    border-radius: 5%;
    min-height: 100px;
    text-align: center;
    border-width: 1px;
    background-color: gray;

}

